// VARIABLES
$font-family: Comfortaa, sans-serif;

// Colour Palette
$colour-blue: #00A5E3;
$colour-mint: #8dd7bf;
$colour-pink: #ff96c5;
$colour-red: #ff5768;
$colour-yellow: #ffbf65;
$colour-white: #FFF;
$colour-black: #202020;
$colour-grey: #202020;

/***************************************************
  GLOBAL STYLES
****************************************************/
html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  line-height: 1.5;
}

h2 {
  font-size: 36px;
  color: $colour-black;
  text-align: center;
  padding: 40px 20px;
}

h3 {
  font-size: 26px;
  color: $colour-white;
}

section {
  padding: 140px 0;
}

section:nth-child(1) {
  padding: 0;
}

.btn-1 {
  color: $colour-white;
  background: $colour-pink;
  border: none;
  border-radius: 24px;
  text-transform: uppercase;
  width: 215px;
  padding: 14px 0px;
  margin: 20px 0;
  font-family: $font-family;
  font-size: 14px;
  font-weight: 600;
}

.btn-1:hover {
  background-color: $colour-mint;
}

.btn-2 {
  color: $colour-white;
  background: $colour-mint;
  border: none;
  border-radius: 24px;
  text-transform: uppercase;
  width: 215px;
  padding: 14px 0px;
  margin: 20px 0;
  font-family: $font-family;
  font-size: 14px;
  font-weight: 600;
}

.btn-2:hover {
  background-color: $colour-red;
}

.is-flex {
  display: flex;
  justify-content: space-evenly;
}

.is-flex-75 {
  flex-basis: 75%;
}

.is-flex-25 {
  flex-basis: 25%;
}

.clothing-hdr {
  font-size: 80px;
}

.bnr-ad {
  background-color: $colour-blue;
  text-align: center;
  align-items: center;
  height: 150px;
  color: $colour-white;
  font-size: 25px;
  padding: 20px;
}

/***************************************************
   HEADER
****************************************************/
.hdr {
  background: $colour-black;
  padding: 0 30px;
  align-items: center;
}

/***************************************************
   GOLBAL NAVIGATION
****************************************************/
.gn ul {
  text-align: right;
}

.gn li {
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  padding: 20px;
}

.gn a {
  color: $colour-red;
  text-decoration: none;
  transition: 0.3s ease;
}

.gn li a:hover {
  color: #8dd7bf;
}

.gn img {
  max-width: 32px;
}

.gn a img:hover {
  color: transparent;
  filter: invert(79%) sepia(30%) saturate(200%) hue-rotate(10deg) brightness(100%) contrast(300%);
  transition: 0.3s ease;
}

.gn a.icon {
  display: none;
}

/***************************************************
   HERO BANNERS
****************************************************/
.bg-centre {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-img-home {
  background-image: url(../images/blue-boi-bnr.jpg);
  height: 90vh;
  position: relative;
}

.bg-img-mens {
  background-image: url(../images/man-sitting.jpg);
  height: 80vh;
  position: relative;
}

.bg-img-womens {
  background-image: url(../images/girl-leaning.jpg);
  height: 80vh;
  position: relative;
}

.bg-img-about {
  background-image: url(../images/about-us-banner.jpeg);
  height: 80vh;
  position: relative;
}

.bnr-content.is-flex {
  flex-direction: column;
  justify-content: center;
  color: $colour-white;
  font-size: 45px;
  height: 90vh;
  padding-left: 10%;
  max-width: 800px
}

.scroll-pos {
  position: absolute;
  left: 50%;
  top: 85%;
  margin: 0 auto;
}

.scroll-pos img {
  max-width: 50px;
  opacity: 0.85;
}

.down-chevron:hover {
  filter: invert(45%) sepia(19%) saturate(4190%) hue-rotate(322deg) brightness(105%) contrast(99%);
}

/***************************************************
   HOME PAGE 
****************************************************/
.stn-1-home {
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
}

.stn-1-home-content {
  font-size: 32px;
  width: 600px;
}

.stn-2-home {
  background-image: url(../images/green-girl-banner.jpg);
  background-size: cover;
  align-items: center;
  height: 50vh;
  color: $colour-white;
  font-size: 30px;
}

.stn-2-home-content {
  padding: 50px;
}

.stn-3-home {
  text-align: center;
  font-size: 28px;
  max-width: 1600px;
  margin: 0 auto;
}

.stn-3-home-content {
  position: relative;
}

.stn-3-home-content:after {
  position: absolute;
  content: ">";
  color: $colour-pink;
  font-size: 80px;
  top: 280px;
  left: 365px;
}


/***************************************************
    FEATURED CAROUSEL
****************************************************/

.carousel-cell {
  width: 100%;
  height: 500px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-content {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

/***************************************************
   CATEGORY GRID
****************************************************/
.is-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 350px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  grid-gap: 20px;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $colour-pink;
  opacity: .8;
  color: $colour-white;
  font-size: 26px;
  font-weight: 900;
}

.grid-item:hover {
  cursor: pointer;
  background: $colour-mint;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.50);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.50);
}

.grid-item p {
  padding-top: 40px;
}

.grid-item img {
  width: 150px;
}

/***************************************************
   NEWSLETTER SUBSCRIPTION
****************************************************/
.newsletter {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 0;
}

.email-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 24px;
}

.email-sub > * {
  margin-left: 20px;
}

input[type=button] {
  background: $colour-yellow;
  color: $colour-white;
  font-family: $font-family;
  border: none;
  font-size: 20px;
  padding: 8px 25px;
  border-radius: 20px;
}

input[type=button]:hover {
  background: $colour-mint;
}

input[type="text"] {
  width: 60%;
}

/***************************************************
   ABOUT PAGE
****************************************************/
.about-content {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding: 150px 20px;
}

.about-content p {
  padding-bottom: 40px;
  font-size: 20px;
}

.circle {
  width: 500px;
  height: 500px;
  background: $colour-pink;
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
  z-index: -10;
}

/***************************************************
   FOOTER
****************************************************/
.ftr {
  color: $colour-white;
  background: $colour-black;
  font-size: 14px;
  line-height: 2.5;
  padding: 80px 20px 20px 0px;
}

.ftr h4 {
  font-size: 18px;
}

.ftr h6 {
  font-size: 14px;
  text-align: center;
}

.ftr a {
  text-decoration: none;
  color: $colour-white;
}

.ftr a:hover {
  color: $colour-pink;
}

.socials ul {
  text-align: center;
}

.socials li {
  display: inline-block;
  padding: 40px 20px;
}

.socials li a:hover {
  filter: invert(45%) sepia(19%) saturate(4190%) hue-rotate(322deg) brightness(105%) contrast(99%);
}

/***************************************************
   MEDIA QUERIES
****************************************************/

@import 'mediaqueries';
